{% block cart_style_five_component_line_item_quantity_select_input %}
    <div class="input-group line-item-quantity-group quantity-selector-group" data-quantity-selector="true">
        <label for="quantity">
            {{ "cartStyleFive.checkout.cartQuantityLabel"|trans|sw_sanitize }}
        </label>
        <input
                {% if isDigital %}disabled="disabled"{% endif %}
                type="number"
                name="quantity"
                class="form-control js-quantity-selector quantity-selector-group-input quantity-input-{{ lineItem.id }} {% if displayMode === 'offcanvas' %} js-offcanvas-cart-change-quantity-number{% endif %}"
                min="{{ quantityInformation.minPurchase }}"
                style="border:none;"
                max="{{ maxQuantity }}"
                step="{{ quantityInformation.purchaseSteps }}"
                value="{{ lineItem.quantity }}"
                aria-label="{{ "component.product.quantitySelect.label"|trans|striptags }}"
               />
    </div>
{% endblock %}