{% sw_extends '@Storefront/storefront/component/line-item/element/remove.html.twig' %}

{% block component_line_item_remove %}

    {% if redirectTo is not defined %}
        {% set redirectTo = 'frontend.checkout.cart.page' %}
    {% endif %}

    {% if formAction is not defined %}
        {% set formAction = path('frontend.checkout.line-item.delete', { 'id': lineItem.id }) %}
    {% endif %}

    {% set styleType = config('ICTECHCartPageStyling.config.cartStyle') %}
    {% set status = config('ICTECHCartPageStyling.config.status') %}

    {% block component_line_item_remove_form %}
        {% set loaderOptions = {
            skipLoadingIndicator: true
        } %}

        <form action="{{ formAction }}"
              method="post"
              data-form-submit-loader="true"
              data-form-submit-loader-options="{{ loaderOptions|json_encode }}"
              class="{% if displayMode === 'offcanvas' %}js-offcanvas-cart-remove-product{% endif %}">

            {% block component_line_item_remove_redirect %}
                <input type="hidden"
                       name="redirectTo"
                       value="{{ redirectTo }}">
                <input type="hidden"
                       name="redirectParameters"
                       value="{{ redirectParameters }}">
            {% endblock %}
            {% if styleType === "cart-style-one" and status === true and app.request.attributes.get('_route') === 'frontend.checkout.cart.page' %}
                {% block cart_style_one_component_line_item_remove_button %}
                    <button type="submit"
                            title="{{ "checkout.removeLineItem"|trans|striptags }}"
                            data-product-id="{{ lineItem.id }}"
                            class="btn btn-light btn-sm line-item-remove-button">
                        {% sw_icon 'trash' style { 'size': 'sm' } %}
                    </button>
                {% endblock %}
            {% elseif styleType === "cart-style-three" and
                status === true and
                app.request.attributes.get('_route') === 'frontend.checkout.cart.page' and
                lineItem.type !== "promotion"
            %}
                {% block cart_style_three_component_line_item_remove_button %}

                    <button type="submit"
                            title="{{ "checkout.removeLineItem"|trans|striptags }}"
                            data-product-id="{{ lineItem.id }}"
                            class="btn btn-danger btn-sm line-item-remove-button">
                        {{ "cartStyleThree.checkout.removeLineItem"|trans|sw_sanitize }}
                    </button>
                {% endblock %}
            {% elseif styleType === "cart-style-four" and
                status === true and
                app.request.attributes.get('_route') === 'frontend.checkout.cart.page' and
                lineItem.type !== "promotion"
            %}
                {% block cart_style_four_component_line_item_remove_button %}
                    <button type="submit"
                            title="{{ "checkout.removeLineItem"|trans|striptags }}"
                            data-product-id="{{ lineItem.id }}"
                            class="btn btn-link btn-sm line-item-remove-button">
                        {{ "cartStyleFour.checkout.removeLineItem"|trans|sw_sanitize }}
                    </button>
                {% endblock %}
            {% elseif styleType === "cart-style-five" and
                status === true and
                app.request.attributes.get('_route') === 'frontend.checkout.cart.page' and
                lineItem.type !== "promotion"
            %}
                <button type="submit"
                        title="{{ "checkout.removeLineItem"|trans|striptags }}"
                        data-product-id="{{ lineItem.id }}"
                        class="btn btn-link btn-sm line-item-remove-button">
                    {{ "cartStyleFive.checkout.removeLineItem"|trans|sw_sanitize }}
                </button>
            {% else %}
                {% block component_line_item_remove_button %}
                    {{ parent() }}
                {% endblock %}
            {% endif %}

        </form>
    {% endblock %}
{% endblock %}
