{% block block_image_text_row %}
    {% set columns = 4 %}

    {% block block_ict_image_text_row_left %}
        <div class="col-md-3">
            {% block block_ict_image_text_row_left_image %}
                {% set element = block.slots.getSlot('ict-left-image') %}

                <div data-cms-element-id="{{ element.id }}">
                    {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                </div>
            {% endblock %}

            {% block block_ict_image_text_row_left_text %}
                {% set element = block.slots.getSlot('ict-left-text') %}

                <div data-cms-element-id="{{ element.id }}">
                    {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}

    {% block block_ict_image_text_row_center %}
        <div class="col-md-3">
            {% block block_ict_image_text_row_center_image %}
                {% set element = block.slots.getSlot('ict-center-image') %}

                <div data-cms-element-id="{{ element.id }}">
                    {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                </div>
            {% endblock %}

            {% block block_ict_image_text_row_center_text %}
                {% set element = block.slots.getSlot('ict-center-text') %}

                <div data-cms-element-id="{{ element.id }}">
                    {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}

    {% block block_ict_image_text_row_center_second %}
            <div class="col-md-3">
                {% block block_ict_image_text_row_center_image_second %}
                    {% set element = block.slots.getSlot('ict-center-image-second') %}

                    <div data-cms-element-id="{{ element.id }}">
                        {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                    </div>
                {% endblock %}

                {% block block_ict_image_text_row_center_text_second %}
                    {% set element = block.slots.getSlot('ict-center-text-second') %}

                    <div data-cms-element-id="{{ element.id }}">
                        {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}

    {% block block_ict_image_text_row_right %}
        <div class="col-md-3">
            {% block block_ict_image_text_row_right_image %}
                {% set element = block.slots.getSlot('ict-right-image') %}

                <div data-cms-element-id="{{ element.id }}">
                    {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                </div>
            {% endblock %}

            {% block block_ict_image_text_row_right_text %}
                {% set element = block.slots.getSlot('ict-right-text') %}

                <div data-cms-element-id="{{ element.id }}">
                    {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
