{% block style_five_component_checkout_cart_header_element %}
    <div class="card-title cart-table-header">
        <div class="row cart-header-row">
            {% block style_one_component_checkout_cart_header_product_info %}
                <div class="{{ infoColumnClass }} cart-header-info">
                    {{ "checkout.cartHeaderInfo"|trans|sw_sanitize }}
                </div>
            {% endblock %}

            {% block style_one_component_checkout_cart_header_quantity %}
                <div class="col-2 cart-header-quantity">
                    {{ "cartStyleFive.checkout.cartHeaderOption"|trans|sw_sanitize }}
                </div>
            {% endblock %}

            {% if showTaxPrice %}
                <div class="col-2 cart-header-tax-price">
                    {% if context.salesChannel.taxCalculationType == 'horizontal' %}
                        {% if context.taxState == "gross" %}
                            {{ "checkout.cartHeaderTaxIncludeVat"|trans|sw_sanitize }}
                        {% else %}
                            {{ "checkout.cartHeaderTaxExcludeVat"|trans|sw_sanitize }}
                        {% endif %}
                    {% endif %}
                </div>
            {% else %}
                {% block style_one_component_checkout_cart_header_unit_price %}
                    <div class="col-2 cart-header-unit-price">
                        {{ "cartStyleFive.checkout.cartHeaderPrice"|trans|sw_sanitize }}
                    </div>
                {% endblock %}
            {% endif %}

            {% block style_one_component_checkout_cart_header_total_price %}
                <div class="col-2 cart-header-total-price">
                    {{ "checkout.cartHeaderTotalPrice"|trans|sw_sanitize }}
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}