{% sw_extends '@Storefront/storefront/page/checkout/cart/index.html.twig' %}

{% block base_head %}
    {{ parent() }}
{% endblock %}

{% block page_checkout_container %}
    {{ parent() }}
{% endblock %}

{% set styleType = config('ICTECHCartPageStyling.config.cartStyle') %}
{% set status = config('ICTECHCartPageStyling.config.status') %}

{% block page_checkout_main_content %}
    <input type="hidden" value="{{ app.request.attributes.get('_route') }}" id="routes">
    <input type="hidden" value="{{ styleType }}" id="cartStyleType">
    <input type="hidden" value="{{ status }}" id="styleStatus">
    {% block page_checkout_cart %}
        {% block page_checkout_cart_header %}
            {% if styleType == "cart-style-four" and
                status == true and
                app.request.attributes.get('_route') == 'frontend.checkout.cart.page'
            %}
                {% sw_include '@ICTECHCartPageStyling/storefront/page/checkout/cart/cart-style-four-checkout-button.html.twig'%}
            {% endif %}
            {% if status == true and
                styleType == "cart-style-one" and
                app.request.attributes.get('_route') == 'frontend.checkout.cart.page'
            %}
                <h1 class="cart-main-header">
                    {{ "cartStyleOne.checkout.cartHeader"|trans|upper }}
                </h1>
            {% elseif status == true and
                styleType == "cart-style-two" and
                app.request.attributes.get('_route') == 'frontend.checkout.cart.page'
            %}
                <div>
                    <h1 class="cart-main-header">
                        {{ "cartStyleTwo.checkout.cartHeader"|trans|upper }}
                    </h1>
                    <span class="">
                        <a href="{{ path('frontend.checkout.confirm.page') }}"
                           class="btn btn-warning btn-lg begin-checkout-btn"
                           title="{{ "cartStyleTwo.checkout.proceedLink"|trans|striptags }}">
                            {{ "cartStyleTwo.checkout.proceedLink"|trans|upper }}
                        </a>
                    </span>
                </div>
            {% elseif status == true and
                styleType == "cart-style-five" and
                app.request.attributes.get('_route') == 'frontend.checkout.cart.page'
            %}
                <div>
                    <h1 class="cart-main-header">
                        {{ "cartStyleFive.checkout.cartHeader"|trans|upper }}
                    </h1>
                    <span class="">
                        <a href="{{ path('frontend.checkout.confirm.page') }}"
                           class="btn btn-primary btn-lg begin-checkout-btn"
                           title="{{ "cartStyleTwo.checkout.proceedLink"|trans|striptags }}">
                            {{ "cartStyleTwo.checkout.proceedLink"|trans|upper }}
                        </a>
                    </span>
                </div>
            {% else %}
                {{ parent() }}
            {% endif %}
        {% endblock %}

        {% block page_checkout_cart_product_table %}
            {{ parent() }}
        {% endblock %}

        {% block page_checkout_cart_hidden_line_items_information %}
            {% sw_include '@Storefront/storefront/component/checkout/hidden-line-items-information.html.twig' with {
                cart: page.cart,
                lineItems: page.cart.lineItems
            } %}
        {% endblock %}
    <div class="cart-below-table">
        {% block page_checkout_cart_add_product_and_shipping %}
            <div class="row cart-container-group">
                {% block page_checkout_cart_add_product %}
                   {{ parent() }}
                {% endblock %}

                {% block page_checkout_cart_shipping_costs %}
                    {{ parent() }}
                {% endblock %}

                {% if (styleType == "cart-style-one" or
                    styleType == "cart-style-two" or
                    styleType == "cart-style-three" or
                    styleType == "cart-style-four") and
                    status == true
                %}
                    <div class="checkout-aside-action">
                        {% block page_checkout_cart_add_promotion %}
                            {{ parent() }}
                        {% endblock %}
                    </div>
                {% endif %}

            </div>
        {% endblock %}

        {% if styleType == "cart-style-two" and status == true %}
            <div class="checkout-aside-action d-grid">
                <a href="{{ path('frontend.checkout.confirm.page') }}"
                   class="btn btn-primary btn-lg begin-checkout-btn"
                   title="{{ "cartStyleOne.checkout.proceedLink"|trans|striptags }}">
                    {{ "cartStyleOne.checkout.proceedLink"|trans|upper }}
                </a>
                <br>
                <a href="{{ path('frontend.home.page') }}"
                   class="btn btn-outline-dark btn-continue">
                    {{ "cartStyleOne.checkout.continueShopping"|trans|upper }}
                </a>
            </div>
        {% endif %}

        <div class="checkout-summary-card card">
            {% if styleType == "cart-style-one" and status == true and app.request.attributes.get('_route') == 'frontend.checkout.cart.page'%}
                <div>
                    {% block style_one_page_checkout_summary %}
                        {% sw_include '@ICTECHCartPageStyling/storefront/page/checkout/cart/cart-style-one-summary.html.twig' %}
                    {% endblock %}
                </div>
            {% elseif styleType == "cart-style-two" and
                status == true and
                app.request.attributes.get('_route') == 'frontend.checkout.cart.page'
            %}
                <div>
                    {% block style_two_page_checkout_summary %}
                        {% sw_include '@ICTECHCartPageStyling/storefront/page/checkout/cart/cart-style-two-summary.html.twig' %}
                    {% endblock %}
                </div>
            {% elseif styleType == "cart-style-three" and
                status == true and
                app.request.attributes.get('_route') == 'frontend.checkout.cart.page'
            %}
                <div>
                    {% block style_three_page_checkout_summary %}
                        {% sw_include '@ICTECHCartPageStyling/storefront/page/checkout/cart/cart-style-three-summary.html.twig' %}
                    {% endblock %}
                </div>
            {% elseif styleType == "cart-style-four" and
                status == true and
                app.request.attributes.get('_route') == 'frontend.checkout.cart.page'
            %}
                <div>
                    {% block style_four_page_checkout_summary %}
                        {% sw_include '@ICTECHCartPageStyling/storefront/page/checkout/cart/cart-style-four-summary.html.twig' %}
                    {% endblock %}
                </div>
            {% endif %}
        </div>
    </div>
    {% endblock %}
    <script>
        var currentRoutes = document.getElementById('routes').value;
        var cartStyle = document.getElementById('cartStyleType').value;
        var styleStatus = document.getElementById('styleStatus').value;
        if (styleStatus){
            if (currentRoutes === 'frontend.checkout.cart.page') {
                window.addEventListener('load', function() {
                    document.body.classList.add(cartStyle);
                });
            }
        }
    </script>
{% endblock %}
{% block page_checkout_aside_actions %}
    {% if styleType == "cart-style-five" and status == true and app.request.attributes.get('_route') == 'frontend.checkout.cart.page'%}
        {% sw_include '@ICTECHCartPageStyling/storefront/page/checkout/cart/cart-style-five-checkout-button.html.twig' %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}